<h1>News and Blogs</h1>
<p>Share News Articles and Blogs. See what others have to say and comment!</p>
<% if user_signed_in? %>
  <%= link_to "New Article", new_article_path %>
<% end %>

<ul>
  <% @articles.each do |article| %>
    <li>
      <%= link_to article.title, article %><br />
      <%= article.content %>
    </li>
  <% end %>
</ul>
