<p>A breaking news item</p>
<p>Some breaking action</p>
<% if user_signed_in? %>
  <%= link_to "New Article", new_article_path %>
<% end %>

<ul>
  <% @articles.each do |article| %>
    <li>
      <%= article.title %><br />
      <%= article.content %>
    </li>
  <% end %>
</ul>
