<% if user_signed_in? %>
  <%= link_to "New Article", new_article_path %>
<% end %>
<div class="row">
  <div class="col-md-8 blog-main">
    <% @articles.each do |article| %>
      <h3 class="pb-4 mb-4 font-italic border-bottom">
        <%= link_to article.title, article %><br />
      </h3>
      <div class="blog-post">
        <p class="blog-post-meta"><%= article.created_at.strftime("%F %T") %></p>
        <p class="blog-post-title"><%= article.content %></p>
      </div>
    <% end %>
  </div>
</div>